<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]*)\/?$ index.php?page=$1
RewriteRule ^([^/]*)/([^/]+)\/?$ index.php?page=$1&app_id=$2 [L]
RewriteRule ^([^/]*)/([^/]+)/([^/]+)\/?$ index.php?page=$1&app_id=$2&new_id=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [L,NC]
</IfModule>